
.idea/cogstat-multiple-regression.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
cogstat/__pycache__/__init__.cpython-312.pyc
cogstat/__pycache__/cogstat.cpython-312.pyc
cogstat/__pycache__/cogstat_chart.cpython-312.pyc
cogstat/__pycache__/cogstat_config.cpython-312.pyc
cogstat/__pycache__/cogstat_dialogs.cpython-312.pyc
cogstat/__pycache__/cogstat_gui.cpython-312.pyc
cogstat/__pycache__/cogstat_hyp_test.cpython-312.pyc
cogstat/__pycache__/cogstat_stat.cpython-312.pyc
cogstat/__pycache__/cogstat_stat_num.cpython-312.pyc
cogstat/__pycache__/cogstat_util.cpython-312.pyc
cogstat/ui/__pycache__/__init__.cpython-312.pyc
cogstat/ui/__pycache__/compare_groups.cpython-312.pyc
cogstat/ui/__pycache__/compare_groups_single_case_slope.cpython-312.pyc
cogstat/ui/__pycache__/compare_vars.cpython-312.pyc
cogstat/ui/__pycache__/compare_vars_groups.cpython-312.pyc
cogstat/ui/__pycache__/diffusion.cpython-312.pyc
cogstat/ui/__pycache__/display_options_groups.cpython-312.pyc
cogstat/ui/__pycache__/display_options_mixed.cpython-312.pyc
cogstat/ui/__pycache__/display_options_repeated.cpython-312.pyc
cogstat/ui/__pycache__/explore_var_pairs.cpython-312.pyc
cogstat/ui/__pycache__/factor.cpython-312.pyc
cogstat/ui/__pycache__/factors.cpython-312.pyc
cogstat/ui/__pycache__/filter_outlier.cpython-312.pyc
cogstat/ui/__pycache__/find_text.cpython-312.pyc
cogstat/ui/__pycache__/pivot.cpython-312.pyc
cogstat/ui/__pycache__/preferences.cpython-312.pyc
cogstat/ui/__pycache__/regression.cpython-312.pyc
cogstat/ui/__pycache__/reliability_internal.cpython-312.pyc
cogstat/ui/__pycache__/reliability_interrater.cpython-312.pyc
cogstat/ui/__pycache__/var_properties.cpython-312.pyc
cogstat/ui/__pycache__/xylims.cpython-312.pyc
